view/index.pug
extends templates/default.pug
block content
	section
		.ss-container
			.product-box
				.product-box__image
					img.jq_product_image()
				.product-box__content
					h2.product-box__title.jq_product_title 
					.product-box__price.jq_product_price
						label.jq_product_price_sell 
						span.jq_product_price_old 
					p.product-box__text.jq_product_description 
					ul.ul-reset.product-info
						li
							label Color
							.product-color.jq_product_color
								
						li
							label Size
							.product-size
								select.jq_product_size()
									
						li
							label Quantity
							.product-quantity.jq_product_quntity
								button.sub.qua 
									<svg style="width:20px;height:20px" viewBox="0 0 24 24">
											<path fill="#555" d="M19,13H5V11H19V13Z" />
									</svg>
								<input type="text" id="1" value=1 class=quantity>
								button.add.qua 
									<svg style="width:20px;height:20px" viewBox="0 0 24 24">
											<path fill="#555" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
									</svg>
					a.buy-button#add_cart(href="javascript:;" target="_blank") Add to cart
					a.buy-button#buy_now(href="javascript:;" target="_blank") Buy Now

dist/index.html
<!DOCTYPE html >
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
    <script>
      var baseUrl = "https://sage-site-51.myshopify.com/";
      var productName = "oneplus-7.js";
    </script>
    <title>Product Page</title>
  <link href="css/style.css" rel="stylesheet"></head>
  <body>
    <div class="wrap">
      <section>
        <div class="ss-container">
          <div class="product-box">
            <div class="product-box__image"><img class="jq_product_image"/></div>
            <div class="product-box__content">
              <h2 class="product-box__title jq_product_title"> </h2>
              <div class="product-box__price jq_product_price">
                <label class="jq_product_price_sell"> </label><span class="jq_product_price_old"> </span>
              </div>
              <p class="product-box__text jq_product_description"> </p>
              <ul class="ul-reset product-info">
                <li>
                  <label>Color</label>
                  <div class="product-color jq_product_color"></div>
                </li>
                <li>
                  <label>Size</label>
                  <div class="product-size">
                    <select class="jq_product_size"></select>
                  </div>
                </li>
                <li>
                  <label>Quantity</label>
                  <div class="product-quantity jq_product_quntity">
                    <button class="sub qua">
                       <svg style="width:20px;height:20px" viewBox="0 0 24 24">
<path fill="#555" d="M19,13H5V11H19V13Z" />
</svg>
                    </button><input type="text" id="1" value=1 class=quantity>
                    <button class="add qua">
                       <svg style="width:20px;height:20px" viewBox="0 0 24 24">
<path fill="#555" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
</svg>
                    </button>
                  </div>
                </li>
              </ul><a class="buy-button" id="add_cart" href="javascript:;" target="_blank">Add to cart</a><a class="buy-button" id="buy_now" href="javascript:;" target="_blank">Buy Now</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  <script type="text/javascript" src="js/app.js"></script></body>
</html>
